binds {
    Mod+Ctrl+P hotkey-overlay-title="Bar: Toggle (Primary)" { spawn "dms" "ipc" "call" "bar" "toggle" "index" "0"; }
    Super+Ctrl+Q hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+Shift+S hotkey-overlay-title="Screenshot: Interactive" { spawn "dms" "ipc" "call" "niri" "screenshot"; }
    Super+space hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    XF86AudioLowerVolume hotkey-overlay-title="Volume Down (5%)" { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute hotkey-overlay-title="Volume Mute Toggle" { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioRaiseVolume hotkey-overlay-title="Volume Up (5%)" { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down (5%)" { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Up (5%)" { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Super+Ctrl+Shift+J hotkey-overlay-title="Move to Workspace Down" { move-column-to-workspace-down; }
    Super+Ctrl+Shift+K hotkey-overlay-title="Move to Workspace Up" { move-column-to-workspace-up; }
    Super+Ctrl+Shift+Page_Down hotkey-overlay-title="Move to Workspace Down" { move-column-to-workspace-down; }
    Super+Ctrl+Shift+Page_Up hotkey-overlay-title="Move to Workspace Up" { move-column-to-workspace-up; }
    Super+J hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+K hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Super+Page_Down hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+Page_Up hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    F11 hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Super+Ctrl+Equal hotkey-overlay-title="Set Column Width" { set-column-width "+5%"; }
    Super+Ctrl+Escape hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Super+Ctrl+H hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Ctrl+L hotkey-overlay-title="Move Right" { move-column-right; }
    Super+Ctrl+Left hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Ctrl+Minus hotkey-overlay-title="Set Column Width" { set-column-width "-5%"; }
    Super+Ctrl+Right hotkey-overlay-title="Move Right" { move-column-right; }
    Super+Ctrl+Shift+Equal hotkey-overlay-title="Set Column Width" { set-column-width "+1%"; }
    Super+Ctrl+Shift+H hotkey-overlay-title="Move Column to Monitor Left" { move-column-to-monitor-left; }
    Super+Ctrl+Shift+L hotkey-overlay-title="Move Column to Monitor Right" { move-column-to-monitor-right; }
    Super+Ctrl+Shift+Minus hotkey-overlay-title="Set Column Width" { set-column-width "-1%"; }
    Super+Equal hotkey-overlay-title="Set Column Width" { set-column-width "+10%"; }
    Super+H hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+L hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Left hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+Minus hotkey-overlay-title="Set Column Width" { set-column-width "-10%"; }
    Super+Q hotkey-overlay-title="Close Window" { close-window; }
    Super+Right hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Shift+H hotkey-overlay-title="Focus Monitor Left" { focus-monitor-left; }
    Super+Shift+L hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }
    Super+Shift+Left hotkey-overlay-title="Focus Monitor Left" { focus-monitor-left; }
    Super+Shift+Right hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }
    Super+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
}
